/* To prevent margin-left in collage compose view */
#collage ul.megamenu {
    margin-left: 0;
    padding-left: 0;
}

#portal-megamenu {
    /* From Sunburst public.css: #portal-globalnav */
	margin: 0 0 1em 0; 
	padding: 0;
	float:left;
	width: 100%;
	list-style: none;
	font-size: 80%;
	background: #ddd;
}
#portal-megamenu li.top-level {
	float: left;
	margin: 0; 
	position: relative;
}

#portal-megamenu li a.menu-item {
	float: left; 
	height: 41px;
	padding: 0.5em 1em 0em;
	background: #ddd;
	border-right: 0.1em solid white;
	min-width: 6em;
}

#portal-megamenu li a.menu-item:hover {
    background: #ccc;
}

#portal-megamenu li.active a.menu-item {
    background: #205c90;
    color: white;
}
 
#portal-megamenu li.top-level .sub {
	position: absolute;	
	top: 47px; 
	left: 0;
	/*min-width: 600px;*/
	background: white;
	padding: 15px;
	float: left;
	border: #205c90 4px solid;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none;
}
#portal-megamenu li .collage-row {
    clear: both; 
    float: left; 
    width: 100%; 
    margin: 0 auto 10px;
}

#portal-megamenu .sub ul {
	list-style: none;
	margin: 0 10px 10px 0; 
/*	padding: 0 0 0 10px;*/
    padding: 0;
	float: left;
    width: 100%;
/*    border-left: 1px solid #ddd;*/
}

/*
#portal-megamenu .sub ul.collage-first-object {
    padding-left: 0;
    border-left: 0;
}
*/

#portal-megamenu .sub ul li {
	width: 100%;
	color: #76797c; /*#205c90;*/
}
#portal-megamenu .sub ul li span {
	padding: 0;  margin: 0;
	font-size: 1.3em;
	font-weight: bold;
	display: block;
	width: 100%;
    white-space: nowrap;
}
#portal-megamenu .sub ul li a {
	float: none; 
	text-indent: 0; /*--Reset text indent--*/
	height: auto;
	padding: 5px 0 5px 10px;
	display: block;
	text-decoration: none;
	color: #205c90;
	width: 96%;
    white-space: nowrap;
}

#portal-megamenu .sub ul li a.collage-megamenu-highlight {
    font-weight: bold;
}

#portal-megamenu .sub ul li a:hover {
	color: #ddd; 
	background: #205c90;
}



/* Copied from collage.css */

/* column configurations */
/*
#portal-megamenu .one-column .block_1 {
    width: 98%;
}

#portal-megamenu .two-columns-equal .block_1,
#portal-megamenu .two-columns-equal .block_2 {
  width:48%;
}

#portal-megamenu .three-columns-equal .block_1,
#portal-megamenu .three-columns-equal .block_2,
#portal-megamenu .three-columns-equal .block_3 {
    width:31.2%;
}


#portal-megamenu .block_2,
#portal-megamenu .block_4,
#portal-megamenu .block_3,
#portal-megamenu .block_4,
#portal-megamenu .block_5,
#portal-megamenu .block_6 {
  padding-left: 1%;
}
*/

/* content layout */
#portal-megamenu ul li .megamenu-title {
    margin-bottom: 1em;
}

#portal-megamenu ul li .megamenu-content a {
    font-weight: bold;
    padding: 0;
    display: inline;
    white-space: normal;
}
#portal-megamenu ul li .megamenu-content a:hover {
    background: transparent;
    color: #205c90;
    text-decoration: underline;

}
#portal-megamenu ul li .megamenu-content p {
    color: black;
}

